/.idea
/.svn
/application/config/database.php
/application/cache
/documents/
/application/logs
/db_backup
/nbproject/private/
/nbproject
/uploads/
/vendor
.htaccess
/application/config/config.php
web.config