sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_01 {
	border-style: none;
	position: relative;
	width: 612pt;
	margin: 0pt;
	height: 792pt;
	display: inline-block;
}
.stl_02 {
	position: absolute;
	left: 0pt;
	top: 0pt;
}
.stl_03 {
	position: absolute;
	line-height: 15.95268pt;
	left: 186.86pt;
	top: 35.8454pt;
}
@font-face {
	font-family:"RHIUBU+Georgia-Bold";
	src:url("0338bc30-0001-0000-0000-000000000000.ttf");
}
.stl_04 {
	color: #000000;
	font-weight: bold;
	display: inline;
	font-size: 14pt;
	font-family: "RHIUBU+Georgia-Bold";
}
.stl_05 {
	position: absolute;
	line-height: 14.64844pt;
	left: 72.024pt;
	top: 103.6742pt;
}
@font-face {
	font-family:"TOSREQ+Calibri-Bold";
	src:url("87dffebf-0001-0000-0000-000000000000.ttf");
}
.stl_06 {
	color: #000000;
	font-weight: bold;
	display: inline;
	font-size: 12pt;
	font-family: "TOSREQ+Calibri-Bold";
}
.stl_07 {
	position: absolute;
	line-height: 14.64844pt;
	left: 72.024pt;
	top: 130.4342pt;
}
.stl_08 {
	position: absolute;
	line-height: 14.64844pt;
	left: 72.024pt;
	top: 157.3142pt;
}
.stl_09 {
	position: absolute;
	line-height: 14.64844pt;
	left: 72.024pt;
	top: 184.1942pt;
}
.stl_10 {
	position: absolute;
	line-height: 17.13867pt;
	left: 72.024pt;
	top: 240.8419pt;
}
.stl_11 {
	color: #000000;
	font-weight: bold;
	display: inline;
	font-size: 14pt;
	font-family: "TOSREQ+Calibri-Bold";
}
.stl_12 {
	position: absolute;
	line-height: 13.47656pt;
	left: 72.024pt;
	top: 270.2183pt;
}
@font-face {
	font-family:"IHRVEB+Calibri";
	src:url("ca0ecdfb-0000-0000-0000-000000000000.ttf");
}
.stl_13 {
	color: #000000;
	display: inline;
	font-size: 11pt;
	font-family: "IHRVEB+Calibri";
}
.stl_14 {
	position: absolute;
	line-height: 13.47656pt;
	left: 72.024pt;
	top: 285.5783pt;
}
.stl_15 {
	position: absolute;
	line-height: 15pt;
	left: 72.024pt;
	top: 301.0583pt;
}
.stl_16 {
	position: absolute;
	line-height: 15pt;
	left: 72.024pt;
	top: 316.5383pt;
}
.stl_17 {
	position: absolute;
	line-height: 15pt;
	left: 72.024pt;
	top: 332.0183pt;
}
.stl_18 {
	position: absolute;
	line-height: 13.47656pt;
	left: 72.024pt;
	top: 357.4583pt;
}
.stl_19 {
	position: absolute;
	line-height: 13.52508pt;
	left: 90.024pt;
	top: 382.7907pt;
}
@font-face {
	font-family:"RFFTRU+SymbolMT";
	src:url("53098721-0000-0000-0000-000000000000.ttf");
}
.stl_20 {
	color: #000000;
	display: inline;
	font-size: 11pt;
	font-family: "RFFTRU+SymbolMT";
}
.stl_21 {
	position: absolute;
	line-height: 13.52508pt;
	left: 90.024pt;
	top: 414.3707pt;
}
.stl_22 {
	position: absolute;
	line-height: 13.47656pt;
	left: 108.02pt;
	top: 383.3783pt;
}
.stl_23 {
	position: absolute;
	line-height: 13.47656pt;
	left: 108.02pt;
	top: 398.8583pt;
}
.stl_24 {
	position: absolute;
	line-height: 16pt;
	left: 108.02pt;
	top: 414.9583pt;
}
.stl_25 {
	position: absolute;
	line-height: 15pt;
	left: 108.02pt;
	top: 430.3183pt;
}
.stl_26 {
	position: absolute;
	line-height: 15pt;
	left: 108.02pt;
	top: 445.9183pt;
}
.stl_27 {
	position: absolute;
	line-height: 17.13867pt;
	left: 72.024pt;
	top: 471.5018pt;
}
.stl_28 {
	position: absolute;
	line-height: 13.47656pt;
	left: 72.024pt;
	top: 500.8783pt;
}
.stl_29 {
	position: absolute;
	line-height: 13.47656pt;
	left: 72.024pt;
	top: 516.3583pt;
}
.stl_30 {
	position: absolute;
	line-height: 15pt;
	left: 72.024pt;
	top: 531.7183pt;
}
.stl_31 {
	position: absolute;
	line-height: 15pt;
	left: 72.024pt;
	top: 547.3183pt;
}
.stl_32 {
	position: absolute;
	line-height: 17.13867pt;
	left: 72.024pt;
	top: 572.9318pt;
}
.stl_33 {
	position: absolute;
	line-height: 13.47656pt;
	left: 72.024pt;
	top: 602.3083pt;
}
.stl_34 {
	position: absolute;
	line-height: 13.47656pt;
	left: 72.024pt;
	top: 617.7883pt;
}
.stl_35 {
	position: absolute;
	line-height: 15pt;
	left: 72.024pt;
	top: 633.2683pt;
}
.stl_36 {
	position: absolute;
	line-height: 15pt;
	left: 72.024pt;
	top: 648.7483pt;
}
.stl_37 {
	position: absolute;
	line-height: 14.64844pt;
	left: 72.024pt;
	top: 76.79419pt;
}
.stl_38 {
	position: absolute;
	line-height: 13.47656pt;
	left: 72.024pt;
	top: 93.42828pt;
}
.stl_39 {
	position: absolute;
	line-height: 13.47656pt;
	left: 72.024pt;
	top: 108.9083pt;
}
.stl_40 {
	position: absolute;
	line-height: 15pt;
	left: 72.024pt;
	top: 124.3883pt;
}
.stl_41 {
	position: absolute;
	line-height: 15pt;
	left: 72.024pt;
	top: 139.7483pt;
}
.stl_42 {
	position: absolute;
	line-height: 14.64844pt;
	left: 72.024pt;
	top: 170.8742pt;
}
.stl_43 {
	position: absolute;
	line-height: 13.47656pt;
	left: 72.024pt;
	top: 187.5083pt;
}
.stl_44 {
	position: absolute;
	line-height: 14.64844pt;
	left: 72.024pt;
	top: 218.5142pt;
}
.stl_45 {
	color: #000000;
	font-weight: bold;
	display: inline;
	font-size: 11pt;
	font-family: "TOSREQ+Calibri-Bold";
}
.stl_46 {
	position: absolute;
	line-height: 13.47656pt;
	left: 72.024pt;
	top: 235.2683pt;
}
.stl_47 {
	position: absolute;
	line-height: 15pt;
	left: 72.024pt;
	top: 250.7783pt;
}
.stl_48 {
	position: absolute;
	line-height: 14.64844pt;
	left: 72.024pt;
	top: 281.7842pt;
}
.stl_49 {
	position: absolute;
	line-height: 13.47656pt;
	left: 72.024pt;
	top: 298.4183pt;
}
.stl_50 {
	position: absolute;
	line-height: 14.64844pt;
	left: 72.024pt;
	top: 329.5442pt;
}
.stl_51 {
	position: absolute;
	line-height: 13.47656pt;
	left: 72.024pt;
	top: 346.1783pt;
}
.stl_52 {
	position: absolute;
	line-height: 15pt;
	left: 72.024pt;
	top: 361.6583pt;
}
.stl_53 {
	position: absolute;
	line-height: 14.64844pt;
	left: 72.024pt;
	top: 392.6642pt;
}
.stl_54 {
	position: absolute;
	line-height: 13.47656pt;
	left: 72.024pt;
	top: 409.3183pt;
}
.stl_55 {
	position: absolute;
	line-height: 15pt;
	left: 72.024pt;
	top: 424.7983pt;
}
.stl_56 {
	position: absolute;
	line-height: 14.64844pt;
	left: 72.024pt;
	top: 455.9242pt;
}
.stl_57 {
	position: absolute;
	line-height: 13.47656pt;
	left: 72.024pt;
	top: 472.5583pt;
}
.stl_58 {
	position: absolute;
	line-height: 15pt;
	left: 72.024pt;
	top: 488.0383pt;
}
.stl_59 {
	position: absolute;
	line-height: 13.47656pt;
	left: 72.024pt;
	top: 76.6283pt;
}
.stl_60 {
	position: absolute;
	line-height: 12.1582pt;
	left: 92.088pt;
	top: 127.5366pt;
}
.stl_61 {
	color: #000000;
	display: inline;
	font-size: 10pt;
	font-family: "IHRVEB+Calibri";
}
.stl_62 {
	position: absolute;
	line-height: 12.1582pt;
	left: 92.088pt;
	top: 149.2266pt;
}
.stl_63 {
	position: absolute;
	line-height: 21pt;
	left: 92.088pt;
	top: 170.9266pt;
}
.stl_64 {
	position: absolute;
	line-height: 21pt;
	left: 92.088pt;
	top: 192.6466pt;
}
.stl_65 {
	position: absolute;
	line-height: 21pt;
	left: 92.088pt;
	top: 214.3366pt;
}
.stl_66 {
	position: absolute;
	line-height: 21pt;
	left: 97.152pt;
	top: 236.0366pt;
}
.stl_67 {
	position: absolute;
	line-height: 13.47656pt;
	left: 72.024pt;
	top: 342.4583pt;
}
.stl_68 {
	position: absolute;
	line-height: 13.47656pt;
	left: 72.024pt;
	top: 358.0583pt;
}
.stl_69 {
	position: absolute;
	line-height: 13.47656pt;
	left: 109.94pt;
	top: 385.7783pt;
}
.stl_70 {
	color: #FFFFFF;
	font-weight: bold;
	display: inline;
	font-size: 11pt;
	font-family: "TOSREQ+Calibri-Bold";
}
.stl_71 {
	position: absolute;
	line-height: 13.47656pt;
	left: 72.024pt;
	top: 413.3983pt;
}
.stl_72 {
	position: absolute;
	line-height: 13.47656pt;
	left: 243.65pt;
	top: 385.7783pt;
}
.stl_73 {
	position: absolute;
	line-height: 13.47656pt;
	left: 261.41pt;
	top: 413.3983pt;
}
.stl_74 {
	position: absolute;
	line-height: 27pt;
	left: 262.61pt;
	top: 441.1183pt;
}
.stl_75 {
	position: absolute;
	line-height: 13.47656pt;
	left: 72.024pt;
	top: 441.1183pt;
}
.stl_76 {
	position: absolute;
	line-height: 13.47656pt;
	left: 72.024pt;
	top: 468.8383pt;
}
.stl_77 {
	position: absolute;
	line-height: 13.47656pt;
	left: 262.61pt;
	top: 468.8383pt;
}
.stl_78 {
	position: absolute;
	line-height: 13.47656pt;
	left: 261.41pt;
	top: 496.5583pt;
}
.stl_79 {
	position: absolute;
	line-height: 27pt;
	left: 262.61pt;
	top: 524.2783pt;
}
.stl_80 {
	position: absolute;
	line-height: 13.47656pt;
	left: 72.024pt;
	top: 496.5583pt;
}
.stl_81 {
	position: absolute;
	line-height: 13.47656pt;
	left: 72.024pt;
	top: 524.2783pt;
}
.stl_82 {
	position: absolute;
	line-height: 13.47656pt;
	left: 72.024pt;
	top: 551.8783pt;
}
.stl_83 {
	position: absolute;
	line-height: 13.47656pt;
	left: 253.37pt;
	top: 551.8783pt;
}
.stl_84 {
	position: absolute;
	line-height: 17.13867pt;
	left: 72.024pt;
	top: 76.77185pt;
}
.stl_85 {
	position: absolute;
	line-height: 16pt;
	left: 72.024pt;
	top: 96.30829pt;
}
.stl_86 {
	position: absolute;
	line-height: 15pt;
	left: 72.024pt;
	top: 111.6683pt;
}
.stl_87 {
	position: absolute;
	line-height: 15pt;
	left: 72.024pt;
	top: 127.1483pt;
}
.stl_88 {
	position: absolute;
	line-height: 13.47656pt;
	left: 82.344pt;
	top: 144.9083pt;
}
.stl_89 {
	position: absolute;
	line-height: 13.47656pt;
	left: 255.77pt;
	top: 144.9083pt;
}
.stl_90 {
	position: absolute;
	line-height: 13.47656pt;
	left: 451.3pt;
	top: 144.9083pt;
}
.stl_91 {
	position: absolute;
	line-height: 13.47656pt;
	left: 409.27pt;
	top: 162.5483pt;
}
.stl_92 {
	position: absolute;
	line-height: 13.47656pt;
	left: 409.27pt;
	top: 178.0283pt;
}
.stl_93 {
	position: absolute;
	line-height: 15pt;
	left: 409.27pt;
	top: 193.3883pt;
}
.stl_94 {
	position: absolute;
	line-height: 15pt;
	left: 409.27pt;
	top: 208.8683pt;
}
.stl_95 {
	position: absolute;
	line-height: 13.47656pt;
	left: 171.98pt;
	top: 167.9483pt;
}
.stl_96 {
	position: absolute;
	line-height: 13.47656pt;
	left: 171.98pt;
	top: 183.3083pt;
}
.stl_97 {
	position: absolute;
	line-height: 15pt;
	left: 171.98pt;
	top: 198.7883pt;
}
.stl_98 {
	position: absolute;
	line-height: 15pt;
	left: 171.98pt;
	top: 214.2683pt;
}
.stl_99 {
	position: absolute;
	line-height: 13.47656pt;
	left: 72.024pt;
	top: 214.2683pt;
}
.stl_100 {
	position: absolute;
	line-height: 13.47656pt;
	left: 171.98pt;
	top: 229.6283pt;
}
.stl_101 {
	position: absolute;
	line-height: 13.47656pt;
	left: 171.98pt;
	top: 245.1383pt;
}
.stl_102 {
	position: absolute;
	line-height: 15pt;
	left: 171.98pt;
	top: 260.6183pt;
}
.stl_103 {
	position: absolute;
	line-height: 13.47656pt;
	left: 409.27pt;
	top: 283.6583pt;
}
.stl_104 {
	position: absolute;
	line-height: 13.47656pt;
	left: 409.27pt;
	top: 299.0183pt;
}
.stl_105 {
	position: absolute;
	line-height: 15pt;
	left: 409.27pt;
	top: 314.4983pt;
}
.stl_106 {
	position: absolute;
	line-height: 13.47656pt;
	left: 171.98pt;
	top: 290.0183pt;
}
.stl_107 {
	position: absolute;
	line-height: 13.47656pt;
	left: 171.98pt;
	top: 305.3783pt;
}
.stl_108 {
	position: absolute;
	line-height: 15pt;
	left: 171.98pt;
	top: 320.8583pt;
}
.stl_109 {
	position: absolute;
	line-height: 13.47656pt;
	left: 72.024pt;
	top: 305.3783pt;
}
.stl_110 {
	position: absolute;
	line-height: 13.47656pt;
	left: 72.024pt;
	top: 374.2583pt;
}
.stl_111 {
	position: absolute;
	line-height: 13.47656pt;
	left: 409.27pt;
	top: 344.9783pt;
}
.stl_112 {
	position: absolute;
	line-height: 13.47656pt;
	left: 409.27pt;
	top: 360.3383pt;
}
.stl_113 {
	position: absolute;
	line-height: 15pt;
	left: 409.27pt;
	top: 375.8183pt;
}
.stl_114 {
	position: absolute;
	line-height: 15pt;
	left: 409.27pt;
	top: 391.2983pt;
}
.stl_115 {
	position: absolute;
	line-height: 13.47656pt;
	left: 171.98pt;
	top: 351.0983pt;
}
.stl_116 {
	position: absolute;
	line-height: 13.47656pt;
	left: 171.98pt;
	top: 366.5783pt;
}
.stl_117 {
	position: absolute;
	line-height: 15pt;
	left: 171.98pt;
	top: 381.9383pt;
}
.stl_118 {
	position: absolute;
	line-height: 15pt;
	left: 171.98pt;
	top: 397.4183pt;
}
.stl_119 {
	position: absolute;
	line-height: 13.47656pt;
	left: 171.98pt;
	top: 421.3183pt;
}
.stl_120 {
	position: absolute;
	line-height: 13.47656pt;
	left: 171.98pt;
	top: 436.7983pt;
}
.stl_121 {
	position: absolute;
	line-height: 15pt;
	left: 171.98pt;
	top: 452.2783pt;
}
.stl_122 {
	position: absolute;
	line-height: 15pt;
	left: 171.98pt;
	top: 467.6383pt;
}
.stl_123 {
	position: absolute;
	line-height: 15pt;
	left: 171.98pt;
	top: 483.1183pt;
}
.stl_124 {
	position: absolute;
	line-height: 13.47656pt;
	left: 409.27pt;
	top: 421.3183pt;
}
.stl_125 {
	position: absolute;
	line-height: 13.47656pt;
	left: 409.27pt;
	top: 436.7983pt;
}
.stl_126 {
	position: absolute;
	line-height: 15pt;
	left: 409.27pt;
	top: 452.2783pt;
}
.stl_127 {
	position: absolute;
	line-height: 15pt;
	left: 409.27pt;
	top: 467.6383pt;
}
.stl_128 {
	position: absolute;
	line-height: 13.47656pt;
	left: 72.024pt;
	top: 444.4783pt;
}
.stl_129 {
	position: absolute;
	line-height: 13.47656pt;
	left: 72.024pt;
	top: 459.9583pt;
}
.stl_130 {
	position: absolute;
	line-height: 13.47656pt;
	left: 171.98pt;
	top: 500.7583pt;
}
.stl_131 {
	position: absolute;
	line-height: 13.47656pt;
	left: 171.98pt;
	top: 516.2383pt;
}
.stl_132 {
	position: absolute;
	line-height: 15pt;
	left: 171.98pt;
	top: 531.7183pt;
}
.stl_133 {
	position: absolute;
	line-height: 15pt;
	left: 171.98pt;
	top: 547.0782pt;
}
.stl_134 {
	position: absolute;
	line-height: 15pt;
	left: 171.98pt;
	top: 562.5583pt;
}
.stl_135 {
	position: absolute;
	line-height: 15pt;
	left: 171.98pt;
	top: 578.0683pt;
}
.stl_136 {
	position: absolute;
	line-height: 15pt;
	left: 171.98pt;
	top: 593.4283pt;
}
.stl_137 {
	position: absolute;
	line-height: 15pt;
	left: 171.98pt;
	top: 608.9083pt;
}
.stl_138 {
	position: absolute;
	line-height: 13.47656pt;
	left: 409.27pt;
	top: 500.7583pt;
}
.stl_139 {
	position: absolute;
	line-height: 13.47656pt;
	left: 409.27pt;
	top: 516.2383pt;
}
.stl_140 {
	position: absolute;
	line-height: 15pt;
	left: 409.27pt;
	top: 531.7183pt;
}
.stl_141 {
	position: absolute;
	line-height: 15pt;
	left: 409.27pt;
	top: 547.0782pt;
}
.stl_142 {
	position: absolute;
	line-height: 13.47656pt;
	left: 72.024pt;
	top: 554.8783pt;
}
.stl_143 {
	position: absolute;
	line-height: 13.47656pt;
	left: 409.27pt;
	top: 626.6683pt;
}
.stl_144 {
	position: absolute;
	line-height: 13.47656pt;
	left: 409.27pt;
	top: 642.0283pt;
}
.stl_145 {
	position: absolute;
	line-height: 15pt;
	left: 409.27pt;
	top: 657.5083pt;
}
.stl_146 {
	position: absolute;
	line-height: 15pt;
	left: 409.27pt;
	top: 672.9883pt;
}
.stl_147 {
	position: absolute;
	line-height: 15pt;
	left: 409.27pt;
	top: 688.3443pt;
}
.stl_148 {
	position: absolute;
	line-height: 13.47656pt;
	left: 171.98pt;
	top: 642.0283pt;
}
.stl_149 {
	position: absolute;
	line-height: 13.47656pt;
	left: 72.024pt;
	top: 657.5083pt;
}
.stl_150 {
	position: absolute;
	line-height: 15pt;
	left: 171.98pt;
	top: 672.9883pt;
}
body > div {
min-width: 612pt;
min-height: 792pt;
}
